.App {
  display: flex;
  justify-content: space-between;
  font-family: 'Constantia', 'Lucida Bright', 'Lucidabright', 'Lucida Serif', 'Lucida', 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', 'Georgia', serif;
}

.Navigation {
  order: 1;
  flex: 1 0px;
}

.Content {
  order: 2;
  flex: 4 0px;
}
